

.form-control:focus {
    box-shadow: none;
    border-color: #fadcff
}

.profile-button {
    background: rgb(94, 104, 201);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #5d88e7
}

.profile-button:focus {
    background: #4268b9;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #222038;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #63a7bb;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}