.socialmedia {
    display: inline-flex;
}

.socialmedia .icon-footer {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.socialmedia .icon-footer span {
    color: white;
    height: 60px;
    width: 60px;
    display: block;
    background: pink;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.socialmedia .icon-footer .text {
    background: pink;
    color: white;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialmedia .icon-footer:hover .text {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.socialmedia .icon-footer span i {
    font-size: 25px;
    line-height: 60px;
}

.socialmedia .icon-footer .text::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: pink;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}